<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="         https://jakarta.ee/xml/ns/jakartaee         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayReturn</servlet-name>
        <servlet-class>controller.VNPay.VNPayReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayPayment</servlet-name>
        <servlet-class>controller.VNPay.VNPayPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetTimeSlotsServlet</servlet-name>
        <servlet-class>controller.SetTimeSlotsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageImagesServlet</servlet-name>
        <servlet-class>controller.ManageImagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllVenuesServlet</servlet-name>
        <servlet-class>controller.ListAllVenuesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideVenueServlet</servlet-name>
        <servlet-class>controller.HideVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVenueServlet</servlet-name>
        <servlet-class>controller.EditVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteImageServlet</servlet-name>
        <servlet-class>controller.DeleteImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVenueServlet</servlet-name>
        <servlet-class>controller.AddVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPaymentServlet</servlet-name>
        <servlet-class>controller.CheckPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistory</servlet-name>
        <servlet-class>controller.BookingHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerPromotionServlet</servlet-name>
        <servlet-class>controller.OwnerPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerPaymentServlet</servlet-name>
        <servlet-class>controller.OwnerPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerBookingServlet</servlet-name>
        <servlet-class>controller.OwnerBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>controller.AdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVenueServlet</servlet-name>
        <servlet-class>controller.ViewVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendOtpServlet</servlet-name>
        <servlet-class>ResendOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerRequestController</servlet-name>
        <servlet-class>controller.OwnerRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BecomeOwnerServlet</servlet-name>
        <servlet-class>controller.BecomeOwnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayReturn</servlet-name>
        <url-pattern>/VNPayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayPayment</servlet-name>
        <url-pattern>/VNPayPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetTimeSlotsServlet</servlet-name>
        <url-pattern>/SetTimeSlotsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageImagesServlet</servlet-name>
        <url-pattern>/ManageImagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllVenuesServlet</servlet-name>
        <url-pattern>/ListAllVenuesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideVenueServlet</servlet-name>
        <url-pattern>/HideVenueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVenueServlet</servlet-name>
        <url-pattern>/EditVenueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteImageServlet</servlet-name>
        <url-pattern>/DeleteImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVenueServlet</servlet-name>
        <url-pattern>/AddVenueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerPromotionServlet</servlet-name>
        <url-pattern>/OwnerPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerPaymentServlet</servlet-name>
        <url-pattern>/OwnerPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerBookingServlet</servlet-name>
        <url-pattern>/OwnerBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/AdminUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVenueServlet</servlet-name>
        <url-pattern>/ViewVenueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendOtpServlet</servlet-name>
        <url-pattern>/ResendOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerRequestController</servlet-name>
        <url-pattern>/OwnerRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BecomeOwnerServlet</servlet-name>
        <url-pattern>/BecomeOwnerServlet</url-pattern>
    </servlet-mapping>
</web-app>
